<html>
<head>
    <title>PARC Spreadsheet Converter</title>
    <style>            
        body {
            font-family: sans-serif;
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            line-height: 2em;
        }
    </style>
</head>

<body>
    {{resultmessage}}<br>
    <a href="/">{{redirectmessage}}</a>
</body>
</html>